/*Navigation.....................*/
block-outline_dmenu-0 .content, block-outline_dmenu-0 ul.outline_dmenu { 
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  list-style-image: none !important;
}	

.outline_dmenu li { 
  margin: 0 !important;
  padding: 0px 0pt 0px 16px !important;
  background-color:white!important;
  list-style: none !important;
  list-style-image: none !important;
}

.outline_dmenu li a.active{
	font-weight: bold;
}

.outline_dmenu li.collapsed,.outline_dmenu li.expanded,.outline_dmenu li.leaf{
	list-style: none;
}

.treeview ul.dir li { padding: 2px 0 0 16px; }

.outline_dmenu li { background: url(images/tv-item.gif) 0 0 no-repeat; }
.outline_dmenu li span.expanded {
	background-image: url(images/tv-collapsable.gif);
	width: 16px;
	margin-left: -16px;
	background-position: top;
	display: block;
	float:left;
}
.outline_dmenu li span.collapsed {
	background-image: url(images/tv-expandable.gif);
	background-position: top;
	width: 16px;
	margin-left: -16px;
	background-position: top;
	display: block;
	float: left;
}
.outline_dmenu .leaf { background-image: url(images/tv-item-last.gif) }

.outline_dmenu li .dmenu_link{
	display:inline;
	margin-right: 16px;
}